.my-grid {
    display: grid;
    grid-template-columns: auto 0fr;
    grid-template-rows: auto 20px;
}

.has-blue-background {
    background-color: #a7ddff;
    border: 1px solid #721EE3;
}

.has-yellow-background {
    background-color: #faf7a7;
    border: 1px solid #e38c1e;
}